<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="https://evolvingwithtechnology.wordpress.com">Blog</a></li>
      <li><a href="https://www.linkedin.com/in/adiastansbury">Linkedin</a></li>
      <li><a href="https://github.com/adia-stansbury">Github</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'About', abouts_path %></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="center bg-image text-image">
      <p> Adia Stansbury</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row center">
    <h3>I enjoy creating web apps that help people live healthier and happier lives.</h3>
    <h3>Specific interests include finances, habits, and health.</h3>
  </div>
</div><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 center">
      <ul class="list">
        <li class="none">Hobbies:</li>
        <li><%= link_to 'Running', runs_path %></li>
        <li><%= link_to 'Scenic Walks', walks_path %></li>
        <li><a href="https://roundtown.com/event/2110201/Game-Night-Beantown-Gamers-Cambridge-MA">Board Games</a></li>
        <li><%= link_to 'Baking & Cooking', foods_path %></li>
      </ul>
    </div>
    <div class="col-md-4 center">
      <ul class="list">
        <li class="none">Tech Knowledge:</li>
        <li><a href="http://summer-career-day.confetti.events">Ruby on Rails</a></li>
        <li><a href="https://s3.amazonaws.com/verify.edx.org/downloads/ce9bb280b6584d628e918ed677568185/Certificate.pdf">Python</a></li>
      </ul>
    </div>
    <div class="col-md-4 center">
      <ul class="list">
        <li class="none">Projects:</li>
        <li><a href="https://adia-health-record.herokuapp.com">HealthRecord</a></li>
        <li><a href="https://gemhunter.herokuapp.com">GemHunter</a></li>
      </ul>
    </div>
  </div>
</div>







