<script src="js/bootstrap.js"></script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="https://evolvingwithtechnology.wordpress.com">Blog</a></li>
      <li><a href="https://www.linkedin.com/in/adiastansbury">Linkedin</a></li>
      <li><a href="https://github.com/adia-stansbury">Github</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class='dropdown'>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://adia-health-record.herokuapp.com">HealthRecord</a></li>
          <li><a href="https://gemhunter.herokuapp.com">GemHunter</a></li>
        </ul>
      </li>
      <li><%= link_to 'About', abouts_path %></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="center">Adia Stansbury</div>
  </div>
</div><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="center">
      I enjoy creating web apps that help people live healthier and happier lives. Specific interests include finances, habits, and health.
    </div>
  </div>
</div><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="center">
        <img src="../images/bunny.jpg" class="img-responsive" class="img-rounded" width="304"   height="236">
      </div>
    </div>
    <div class="col-md-4">
      <div class="center">
        Hobbies:<br>
        Going on scenic walks<br>
        Running
      </div>
    </div>
    <div class="col-md-4">
      <div class="center">
        <img src="../images/bunny.jpg" class="img-responsive" class="img-rounded" width="304"   height="236">
      </div>
    </div>
  </div>
</div>



