<div class="container-fluid">
  <div class="center">
    <h2> Hi, I'm Adia. </h2>
    <%= image_tag("adia.png", size:"200x200") %>
    <h3>
      I created this website using Ruby on Rails and custom CSS with Bootstrap.
    </h3>
    <h3>
      Take a look at my source code on <a href="https://github.com/adia-stansbury/Adia-" target="_blank">GitHub.</a>
    </h3>
    <h2><%= image_tag("shadinsnow.jpg", size:"310x240") %></h2>
    <h4><%= link_to 'Home Page', root_path %></h4>
  </div>
</div>
