<div class="container-fluid">
  <div class="center">
    <h2> Hi, I'm Adia. </h2>
    <h3>
      I created this website using Ruby on Rails and custom CSS with Bootstrap. It is a work in progress project to practice my web design skills and learn more. I have just completed the step of basic styling and including most of my web content. My next step is organizing the data in a fashion that is more readable and insightful, such as including graphs for the running data.
    </h3>
    <h3>
      Take a look at my source code on <a href="https://github.com/adia-stansbury/Adia-">GitHub.</a>
    </h3>
    <h2><%= image_tag("adia.png", size:"200x200") %>
    <h2><%= image_tag("shadinsnow.jpg", size:"310x240") %>
    </h2>
    <h4>
      <%= link_to 'Home Page', root_path %>
    </h4>
  </div>
</div>
