<h2> My favorite way to unwind is by cooking and baking.</h2>

<h3> I love to cook tasty and healthy food, and also animal shaped cookies. Penguin shaped and dolphin shaped ice cubes exist!<h3>

<h3>I bought a non-electic ice cream machine. Tasty lactate-free ice cream and an arm work-out.</h3>

<h3>My most recent food adventure was cooking cornish hen for the first time. It was super simple to cook.</h3>

<h4>Place a slice of butter under the skin of the hen. Season with black pepper & salt. Roast in oven at 375 degrees fahreinheit for an hour. Eat!</h4>

<%= image_tag("hen.jpg", size: "60x60") %>
<%= image_tag("hensalad.jpg", size: "60x60") %>

<%= link_to 'Home Page', root_path %>

