<h2>Cooking Highlights</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 center">
      <p>
        Ice cream machines are great to create novelty ice creams.
      </p>
    </div>
    <div class="col-md-4 center">
        <ul class="list">
          <li class="none bold">Lactose-Free Strawberry Ice Cream</li>
          <li class="none sm">Serves 4</li><br>
          <li class="none sm">1 cup of chopped fresh strawberries</li>
          <li class="none sm">1 cup of lactose-free milk</li>
          <li class="none sm">1/4 cup of sugar</li>
          <li class="none sm">Blend all ingredients till homogenous.</li>
          <li class="none sm">Pour mix into ice cream machine.</li>
        </ul>

    </div>
    <div class="col-md-4 center"><br>
      <%= image_tag("icecream.png", size: "250x250") %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row lg-padding">
    <div class="col-md-4 center">
      <p>
        My most recent food adventure was cooking cornish hen for the first time. It was super simple to cook.
      </p>
      <p><%= image_tag("hen.jpg", size: "200x150") %></p>
    </div>
    <div class="col-md-4 center">
      <ul class="list">
        <li class="none bold">Cornish Hen</li>
        <li class="none sm">Each hen is for one person</li><br>
        <li class="none sm">Place a slice of butter under the skin of the hen.</li>
        <li class="none sm">Season with black pepper &amp; salt.</li>
        <li class="none sm">Roast in oven at 375&deg;F for an hour.</li>
        <br><br><li class="none sm">Eat!</li>
      </ul>
    </div>
    <div class="col-md-4 center">
      <ul class="list">
        <li class="none"><%= image_tag("hensalad.jpg", size: "300x225") %></li>
      </ul>
    </div>
  </div>
</div>

<br><p><%= link_to 'Home Page', root_path %></p>


