<h2> My favorite way to unwind is by cooking and baking.</h2>

<h3> I love to cook tasty and healthy food, and also animal shaped cookies.<h3>

<h4>I bought a non-electic ice cream machine. Tasty lactate-free ice cream and an arm work-out.</h4>

<h3>My most recent food adventure was cooking cornish hen for the first time. Now I wish I would have taken a picture for my website. It was super simple to cook.</h3>

<p>Place a slice of butter under the skin of the hen. Season with black pepper & salt. Roast in oven for an hour. Eat!</p>

