a {
  color: #000000;
  text-decoration: underline;
}

body {
  background-color: #44749c;
  color: #000000;
  text-align: center;
}

div.center {
  font-size: 25px;
}

div.row.sm-padding {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.row.lg-padding {
  margin-top: 150px;
}

h2 {
  margin-top: 60px;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 80px;
}

nav.navbar.navbar-default {
  margin: 0px;
}

p {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 40px;
}

ul.list li {
  color: #000000;
  list-style: none;
  text-decoration: underline;
}

ul.list li.none {
  text-decoration: none;
}

ul.list li.bold {
  font-weight: bold;
}

ul.list li.sm {
  font-size: 20px;
}

table {
  font-size: 15px;
}









